.container
{background-color: #C0C0C0;
border-radius: 30px 30px 30px 30px;}

.headm
{
  text-align: center;
}

.img {
  display:block;

  margin-left: auto;
  margin-right:auto  ;
  width: 50%;

}
.img-subt
{
  background-color: #808080;
  text-align: center;
}
.pointslast
{text-align: center;}
img
{border-radius:50%;}
